// Modals
@component modal {
    @descendent square {
        .modal-content {
            border-radius: 0;
            box-shadow: none;
            border: none;
        }
        .modal-dialog {
            top: 100px;
        }
    }
    @descendent header {
        text-align: center;
        border: none;
        position: relative;
        padding: 2rem 0;
        a {
            color: $deep_green;
            border-bottom: 2px dotted $deep_green;
        }
        .close {
            margin-top: -2px;
            padding: .5rem;
            position: absolute;
            right: -2.5rem;
            top: -2.5rem;
            width: 25px;
            height: 25px;
            color: $white_color;
            content: none;
            background-image: url(/assets/images/interface/close-modal.png);
            background-size: 170%;
            background-position: 1px 1px;
            background-repeat: no-repeat;
            opacity: 1;
            &:hover {
                opacity: .8;
            }
        }
    }
    @descendent body {
        padding: 0;
        .content-narrow {
            width: 380px;
            margin: auto;
        }
    }
    @descendent footer {
        text-align: center;
        border: none;
        .h4 {
            color: $deep_blue;
        }
        .socials {
            text-align: center;
            margin: 2rem 0 1rem;
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: .5rem;
                    a {
                        background: $soft_gray;
                        border-radius: 50rem;
                        color: $white_color;
                        height: 3.5rem;
                        width: 3.5rem;
                        font-size: 1.6rem;
                        padding: .6rem;
                        display: block;
                        text-align: center;
                        &.vk {
                            background: #4C6C91;
                        }
                        &.facebook {
                            background: #3B5998;
                        }
                        &.google-plus {
                            background: #DC4E41;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .form {
        padding: 3rem 0;
        button {
            width: 100%;
        }
    }
}
