// Footer
@component footer {
    color: $white_color;
    font-weight: 200;
    @descendent top {
        background: $dark_gray;
        padding: 2rem 0 0;
    }
    @descendent left {
        .socials {
            a {
                color: $white_color;
                margin-left: 1rem;
                &:hover {
                    color: $deep_yellow;
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .contacts {
            margin-top: 1.5rem;
            border-bottom: 1px solid #797979;
            padding-bottom: 2rem;
            .hint {
                font-size: .8rem;
                letter-spacing: .04rem;
            }
            .phone {
                .num {
                    font-size: 2rem;
                    font-weight: 600;
                }
                .city {
                    font-size: 1rem;
                    margin-left: 1rem;
                }
            }
            .email {
                margin-top: 1rem;
                a {
                    margin-left: 1rem;
                    color: $white_color;
                    border-bottom: 2px dotted $white_color;
                    &:hover {
                        color: $deep_yellow;
                        border-bottom: 2px dotted $deep_yellow;
                    }
                }
            }
        }
        .mobile {
            margin-top: 2rem;
            .h4 {
                font-weight: 200;
                margin-bottom: 1rem;
            }
            .app-store {
                display: inline-block;
                width: 203px;
                height: 83px;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url(/assets/images/interface/mobile-buttons.png);
                    background-position: -29px -29px;
                    &:hover {
                        background-position: -29px -128px;
                    }
                }
            }
            .google-play {
                display: inline-block;
                width: 203px;
                height: 83px;
                margin-left: 1rem;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url(/assets/images/interface/mobile-buttons.png);
                    background-position: -247px -29px;
                    &:hover {
                        background-position: -247px -128px;
                    }
                }
            }
        }
    }
    @descendent right {
        .links {
            ul.footer-links {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    padding: .3rem 0;
                    a {
                        color: #B3B3B3;
                        &:hover {
                        	color: $white_color;
                        }
                    }
                }
            }
        }
    }
    @descendent bottom {
    	background: $black_color;
    	padding: 2rem 0;
    	font-size: 1.2rem;
    }
}
