@media screen and (max-width: 767px) {
    @component modal {
        @descendent header {
            .close {
                right: .7rem;
                top: .9rem;
                background-size: 170%;
                background-position: -20px 1px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    @component modal {
        @descendent square {
            .modal-dialog {
                top: 20px;
            }
        }
        @descendent header {
            .h1 {
                font-size: 26px;
            }
        }
        @descendent body {
            .content-narrow {
                width: 100%;
                .form {
                    width: 280px;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 380px) {
    @component modal {
        @descendent body {
            .content-narrow {
                .form {
                    width: 220px;
                }
            }
        }
    }
}