// Dividers
@component divider {
    display: block;
    padding: .5rem 0;
    width: 100%;
    border-top: 1px solid $light_gray;
    @descendent dotted {
        border-top: 2px dotted $light_gray;
    }
    @descendent blue {
        border-color: $deep_blue;
    }
}