// Typography
html {
	font-size: 14px;
    body {
        font-family: $regular_font !important;
    }
}

// Text Selection
.strong {
	font-weight: 700;
}


// Headers types
.blue-h1 {
	color: $deep_blue;
	font-weight: 700;
	text-shadow: $gray_text_shadow;
}
.green-h1 {
	color: $deep_green;
	font-weight: 700;
	text-shadow: $gray_text_shadow;
}

