// Inputs
@component input-group {
    @descendent search {
        .input-group-btn {
            .btn {
                background: $soft_blue;
                border: none;
                height: 3.5rem;
                width: 3.5rem;
                text-align: center;
                font-size: 1.4rem;
                color: $white_color;
                &:hover {
                    background: $deep_blue;
                }
            }
        }
    }
}

@component input {
    height: 3.5rem;
    font-size: 1.4rem;
    font-weight: 200;
    padding: 1rem;
    border: none;
    @descendent without-border {
        border: none;
    }
}

@component radio {
    padding: 6px 0;
    margin: 0;
    @descendent first-level {
        padding: 2rem 0;
    }
    @descendent second-level {
        margin-top: .4rem; 
        padding: .5rem 1.5rem;
        background: $light_gray;
    }
    input {
        &[type=radio] {
            position: absolute;
            visibility: hidden;
        }
        &[type=radio]:checked ~ .check {
            border: 1px solid $deep_blue;
        }
        &[type=radio]:checked ~ .check::before {
            background: $deep_blue;
        }
    }
    .check {
        display: block;
        position: absolute;
        border: 1px solid $soft_gray;
        border-radius: 100%;
        height: 16px;
        width: 16px;
        top: 8px;
        left: 0;
        z-index: 1;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
        &::before {
            display: block;
            position: absolute;
            content: '';
            border-radius: 100%;
            height: 10px;
            width: 10px;
            top: 2px;
            left: 2px;
            margin: auto;
            transition: background 0.25s linear;
            -webkit-transition: background 0.25s linear;
        }
    }
}