section
  //- modals
  block login-modal
  block registrated-phone-modal
  block forget-password-modal
  block verificate-code-modal
  block user-info-modal
  block success-verificate-modal
  block new-password-modal
  //- header
  block header
  block test
  //- sections index
  block section-top-infographic
  block section-banner-carousel
  block section-i-am-customer
  block section-i-am-implementer
  block section-advantages
  block section-articles
  //- sections make order
  block section-top-order-search
  block section-choose-order-category
  block section-create-order
  //- footer
  block footer
