extends layout.pug


//- All Modals
//- Все модалы входа/регистрации вызываются друг над другом экшенами или могут быть открыты присвоением стилей: display: block; opacity: 1;
//- Login Modal
block login-modal
	div.modal.fade.modal-square#loginModal(tabindex="-1" role="dialog" aria-labelledby="loginModalLabel")
		div.modal-dialog.standart(role="document")
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") 
					div.h1.modal-title#loginModalLabel Вход или 
						a(href='#' data-toggle="modal" data-target="#registratedPhoneModal") регистрация
					//- Заголовок для модала входа при создании заказа/ исполнителя неавторизированным пользователем

					//- div.h3.modal-title#loginModalLabel
					//- 	| Для создания заказа вам необходимо
					//- 	br
					//- 	| войти или 
					//- 	a(href="#") зарегистрироваться
				div.modal-body
					//- Класс .success-section придается блоку при успешной валидации
					//- Класс .error-section придается блоку при ошибке валидации
					section.blue-section
						div.content-narrow 
							form.form
								div.text-error Упс! Введенный вами email не зарегистрирован на нашем сервисе.
								//- Класс success придается fieldset при успешной валидации
								//- Класс error придается fieldset при ошибке валидации
								fieldset.form-group
									input.form-control(type="email" placeholder="Email")
									i.fa.fa-check
									i.fa.fa-exclamation
								//- Класс success придается fieldset при успешной валидации
								//- Класс error придается fieldset при ошибке валидации
								fieldset.form-group
									input.form-control(type="password" placeholder="Пароль")
									i.fa.fa-check
									i.fa.fa-exclamation
								div.forget-password
									a(href='#' data-toggle="modal" data-target="#forgetPasswordModal") Забыли пароль?
								fieldset.form-group
									button.btn.btn-blue.btn-large.disabled(type="submit") Войти
				div.modal-footer
					div.h4.strong * или быстрый вход через соцсети
					div.socials
						ul.socials-list
							li.socials-list-links
								a.vk(href="#") #[i.fa.fa-vk]
							li.socials-list-links.facebook
								a.facebook(href="#") #[i.fa.fa-facebook]
							li.socials-list-links
								a.google-plus(href="#") #[i.fa.fa-google-plus]
//- Registration Modal. Add number
block registrated-phone-modal
	div.modal.fade.modal-square#registratedPhoneModal(tabindex="-1" role="dialog" aria-labelledby="registratedPhoneModalLabel")
		div.modal-dialog.standart(role="document")
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") 
					div.h1.modal-title#registratedPhoneModalLabel Впервые на нашем сайте?
				div.modal-body
					//- Класс .success-section придается блоку при успешной валидации
					//- Класс .error-section придается блоку при ошибке валидации
					section.blue-section
						div.content-narrow 
							form.form
								div.text-error Введите корректный номер телефона.
								//- Класс success придается fieldset при успешной валидации
								//- Класс error придается fieldset при ошибке валидации
								fieldset.form-group
									input.form-control(type="tel" placeholder="Номер телефона")
									i.fa.fa-check
									i.fa.fa-exclamation
								div.captcha
									img(src="images/interface/captcha.png")
								div.ask-verificate-code
									a(href='#' data-toggle="modal" data-target="#verificateCodeModal") Получить код подтверждения
				div.modal-footer


//- Forget Password Modal. Add number
block forget-password-modal
	div.modal.fade.modal-square#forgetPasswordModal(tabindex="-1" role="dialog" aria-labelledby="forgetPasswordModalLabel")
		div.modal-dialog.standart(role="document")
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") 
					div.h1.modal-title#forgetPasswordModalLabel Восстановление пароля
				div.modal-body
					//- Класс .success-section придается блоку при успешной валидации
					//- Класс .error-section придается блоку при ошибке валидации
					section.blue-section
						div.content-narrow 
							form.form
								div.text-error Введите корректный номер телефона или адрес электронной почты.
								//- Класс success придается fieldset при успешной валидации
								//- Класс error придается fieldset при ошибке валидации
								fieldset.form-group
									input.form-control(type="tel" placeholder="Номер телефона / email")
									i.fa.fa-check
									i.fa.fa-exclamation
								div.captcha
									img(src="images/interface/captcha.png")
								div.ask-verificate-code
									a(href='#' data-toggle="modal" data-target="#verificateCodeModal") Получить код подтверждения
				div.modal-footer
				
//- Registration & Forget Password Modal. Verificate code
block verificate-code-modal
	div.modal.fade.modal-square#verificateCodeModal(tabindex="-1" role="dialog" aria-labelledby="verificateCodeModalLabel")
		div.modal-dialog.standart(role="document")
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") 
					div.h1.modal-title#verificateCodeModalLabel Введите код из СМС
				div.modal-body
					//- Класс .success-section придается блоку при успешной валидации
					//- Класс .error-section придается блоку при ошибке валидации
					section.blue-section
						div.content-narrow 
							form.form
								div.text-error 
									| Время сессии истекло,
									a(href="#") получите код
									| еще раз
								div.text-error Введенный вами код неверен
								//- Класс success придается fieldset при успешной валидации
								//- Класс error придается fieldset при ошибке валидации
								fieldset.form-group
									input.form-control(type="num" placeholder="Код подтверждения")
									i.fa.fa-check
									i.fa.fa-exclamation
								//-  В этом модале капча выводится только при ошибке, когда время сессии истекает
								div.captcha.hide
									img(src="images/interface/captcha.png")
								fieldset.form-group
									button.btn.btn-blue.btn-large.disabled(type="submit" data-toggle="modal" data-target="#userInfoModal") Подтвердить
									div.hint *у вас осталось 2 минут(ы) для ввода смс-кода 
								div.ask-verificate-code
									a(href="#") Получить код подтверждения еще раз 
				div.modal-footer

//- Registration Modal. User Info
block user-info-modal
	div.modal.fade.modal-square#userInfoModal(tabindex="-1" role="dialog" aria-labelledby="userInfoModalLabel")
		div.modal-dialog.standart(role="document")
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") 
					div.h1.modal-title#userInfoModalLabel Заполните данные о себе
				div.modal-body
					//- Класс .success-section придается блоку при успешной валидации
					//- Класс .error-section придается блоку при ошибке валидации
					section.blue-section
						div.content-narrow 
							form.form
								div.text-error Ваши пароли не совпадают
								//- Класс success придается fieldset при успешной валидации
								//- Класс error придается fieldset при ошибке валидации
								fieldset.form-group
									input.form-control(type="email" placeholder="Email")
									i.fa.fa-check
									i.fa.fa-exclamation
								fieldset.form-group
									input.form-control(type="text" placeholder="Фамилия")
									i.fa.fa-check
									i.fa.fa-exclamation
								fieldset.form-group
									input.form-control(type="text" placeholder="Имя")
									i.fa.fa-check
									i.fa.fa-exclamation
								fieldset.form-group
									input.form-control(type="text" placeholder="Отчество")
									i.fa.fa-check
									i.fa.fa-exclamation
								div.divider.divider-dotted.divider-blue
								fieldset.form-group
									input.form-control(type="password" placeholder="Пароль")
									i.fa.fa-check
									i.fa.fa-exclamation
								fieldset.form-group
									input.form-control(type="password" placeholder="Подтверждение пароля")
									i.fa.fa-check
									i.fa.fa-exclamation
								fieldset.form-group
									button.btn.btn-blue.btn-large.disabled(type="submit") Зарегистрироваться
				div.modal-footer

//- Forget Password Modal. Success verificate & sen email
//- Модальное окно не вызывается экшеном, только присвоением стилей: display: block; opacity: 1;
block success-verificate-modal
	div.modal.fade.modal-square#successVerificateModal(tabindex="-1" role="dialog" aria-labelledby="successVerificateModalLabel")
		div.modal-dialog.standart(role="document")
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") 
					div.h1.modal-title#successVerificateModalLabel Восстановление пароля
				div.modal-body
					section.blue-section
						div.content-narrow 
							form.form
								div.text-notify На ваш email maria.perlovskaya@gmail.com выслано письмо со ссылкой, по которой необходимо пройти для смены пароля.
								
				div.modal-footer
//- Registration Modal. User Info
block new-password-modal
	div.modal.fade.modal-square#newPasswordModal(tabindex="-1" role="dialog" aria-labelledby="newPasswordModalLabel")
		div.modal-dialog.standart(role="document")
			div.modal-content
				div.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") 
					div.h1.modal-title#newPasswordModalLabel Придумайте новый пароль
				div.modal-body
					//- Класс .success-section придается блоку при успешной валидации
					//- Класс .error-section придается блоку при ошибке валидации
					section.blue-section
						div.content-narrow 
							form.form
								div.text-error Ваши новые пароли не совпадают
								//- Класс success придается fieldset при успешной валидации
								//- Класс error придается fieldset при ошибке валидации
								fieldset.form-group
									input.form-control(type="password" placeholder="Пароль")
									i.fa.fa-check
									i.fa.fa-exclamation
								fieldset.form-group
									input.form-control(type="password" placeholder="Подтверждение пароля")
									i.fa.fa-check
									i.fa.fa-exclamation
								fieldset.form-group
									button.btn.btn-blue.btn-large.disabled(type="submit") Сохранить новый пароль
				div.modal-footer
