// All kind of sections in project
// Color-sections
@component blue-section {
    background: $light_blue;
    color: $deep_blue;
    .form {
        .input {
            &::-webkit-input-placeholder {
                color: $soft_blue;
            }
            &::-moz-placeholder {
                color: $soft_blue;
            }
            &:-moz-placeholder {
                color: $soft_blue;
            }
            &:-ms-input-placeholder {
                color: $soft_blue;
            }
        }
    }
}

@component green-section {
    background: $light_green;
    color: $black_color;
    .form {
        .input {
            &::-webkit-input-placeholder {
                color: #adadad;
            }
            &::-moz-placeholder {
                color: #adadad;
            }
            &:-moz-placeholder {
                color: #adadad;
            }
            &:-ms-input-placeholder {
                color: #adadad;
            }
        }
        .form-control {
            &:focus {
                border-color: #6ae966;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(83, 195, 79, 0.6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(83, 195, 79, 0.6);
            }
        }
    }
}

@component error-section {
    background: $light_red;
    color: $deep_red;
}

// Index
// Top-infographic
@component top-infographic {
    background: $light_gray;
    padding: 2rem 0;
    @descendent credo {
        padding: 1rem 0;
        p {
            font-weight: 700;
            font-size: 1.6rem;
            text-align: left;
            color: $dark_blue;
        }
    }
}

// Banner-carousel
@component banner-carousel {
    padding: 4rem 0;
}

// Customer search + info
@component i-am-customer {
    padding: 3rem 0 6rem;
    ;
    .container {
        background-image: url(/assets/images/background/customer-hint.png);
        background-size: 50%;
        background-position: 92%;
        background-repeat: no-repeat;
    }
    @descendent search {
        margin-left: 10%;
        width: 80%;
        .input-group-search {
            margin-top: 1.5rem;
            z-index: 0;
        }
        .input-hints {
            margin-top: 2rem;
            p {
                font-size: 1rem;
                padding: 0;
                margin: 0 0 .2rem;
            }
        }
        .create-order {
            margin-top: 2rem;
            .btn {
                display: block;
                width: 100%;
            }
        }
    }
    @descendent hint {
        padding: 1rem 2rem 0 2rem;
        .check-list {
            .fa-check {
                color: $deep_green;
            }
        }
    }
}

// Implementer search + info
@component i-am-implementer {
    padding: 3rem 0 6rem;
    ;
    .container {
        background-image: url(/assets/images/background/implementer-hint.png);
        background-size: 50%;
        background-position: 3%;
        background-repeat: no-repeat;
    }
    @descendent search {
        margin-left: 10%;
        width: 80%;
        .input-group-search {
            margin-top: 1.5rem;
            z-index: 0;
        }
        .input-hints {
            margin-top: 2rem;
            .catalog-of-orders {
                margin-bottom: 1rem;
                a {
                    color: $deep_blue;
                    border-bottom: 2px dotted $deep_blue;
                }
            }
            p {
                font-size: 1rem;
                padding: 0;
                margin: 0 0 .2rem;
            }
        }
        .create-order {
            margin-top: 2rem;
            .btn {
                display: block;
                width: 100%;
            }
        }
    }
    @descendent hint {
        padding: 2rem 3rem 0 2rem;
        .check-list {
            .fa-check {
                color: $deep_blue;
            }
        }
    }
}

// Advantages
@component advantages {
    text-align: center;
    padding: 3rem 0;
    .container {
        position: relative;
        .dotted-line {
            position: absolute;
            width: 500px;
            height: 100px;
            background-image: url(/assets/images/infographic/advantage-line.png);
            background-size: 35%;
            background-repeat: no-repeat;
            top: 38%;
            &.first {
                left: 0;
                background-position: 75%;
            }
            &.second {
                right: 0;
                background-position: 25%;
            }
        }
    }
    @descendent third {
        margin: 3rem auto 0;
        width: 60%;
        .advantage {
            text-align: center;
            img {
                width: 130px;
                margin-bottom: 1.5rem;
            }
            p {
                margin-top: 1rem;
                color: $text_blue_gray;
            }
            &:last-child {
                background-image: none;
            }
        }
    }
}

// Articles
@component articles {
    padding: 3rem 0;
    border-top: $gray_border;
    .h1 {
        color: $deep_blue;
        i {
            position: relative;
            top: -.4rem;
            margin-left: 2rem;
        }
    }
    .news-block {
        .news-list {
            margin-top: 2rem;
            .one-news {
                padding-left: 1rem;
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: none;
                }
                &.red {
                    border-left: 5px solid $deep_red;
                }
                &.blue {
                    border-left: 5px solid $deep_blue;
                }
                &.green {
                    border-left: 5px solid $deep_green;
                }
            }
        }
    }
    .articles-block {
        .articles-list {
            margin-top: 2rem;
            .one-article {
                padding: .5rem 1rem .1rem;
                margin-bottom: .5rem;
                background: $light_blue;
                border-radius: 8px;
                &:last-child {
                    margin-bottom: none;
                }
            }
        }
    }
}

// Choose order category
@component choose-order-category {
    .action {
        text-align: center;
        padding-bottom: 3rem;
    }
}

// Create order
@component create-order {
    padding: 2rem 0 3rem;
    .selected-category {
        border: 2px dotted $deep_green;
        padding: 1rem;
        color: $deep_green;
        border-radius: 8px;
        margin-bottom: 1rem;
        .h3 {
            margin: 0;
            i {
                margin-right: .5rem;
            }
        }
        a {
            color: $deep_green;
            &:hover {
                color: $hover_green;
            }
            &.edit {
                float: right;
            }
        }
    }
    .call-expert {
        text-align: center;
        a.expert {
            color: $deep_blue;
            border-bottom: 2px dotted $deep_blue;
            &:hover {
                color: $hover_blue;
                border-bottom: 2px dotted $hover_blue;
            }
        }
    }
    .textarea-with-button {
        position: relative;
    }
    .btn {
        &.private-info {
            color: $white_color;
            position: absolute;
            width: auto;
            top: 14rem;
            right: 1rem;
            &.inactive {
                background: $dark_gray;
                opacity: .8;
            }
            &.active {
                background: $deep_blue;
            }
            i {
                margin-right: 1rem;
            }
        }
    }
}
