$white_color: #ffffff;
$black_color: #3c3c3c;
$light_blue: #E6F4F9;
$soft_blue: #4D9CBD;
$deep_blue: #0071A5;
$hover_blue: #02567d;
$dark_blue: #014861;
$light_green: #EAFFEB;
$deep_green: #81AF4E;
$hover_green: #699638;
$deep_yellow: #ffd95d;
$light_red: #F9E6E6;
$deep_red: #F23C06;
$hover_red: #c32e02;
$light_gray: #f2f2f2;
$soft_gray: #D8D8D8;
$dark_gray: #676767;
$text_gray: #9C9C9C;
$text_blue_gray: #72808E;

$regular_font: 'Roboto',
Helvetica,
Arial,
sans-serif;

$gray_box_shadow: 0px 2px 4px #ececec;
$gray_box_shadow_around: 0px 0px 5px #cecece;
$gray_text_shadow: 1px 1px 2px #eaeaea;
$gray_border: 1px solid #C9C9C9;
$soft_gray_border: 1px solid #D8D8D8;
