// Add photos & drag-n-drop
@component drag-n-drop {
    text-align: center;
    padding: 3rem;
    background: $light_gray;
    border-radius: 8px;
    border: 2px dotted $deep_green;
    color: $text_gray;
    margin-bottom: 1rem;
    &:hover {
        opacity: .6;
        cursor: copy;
    }
}

@component photo-miniature {
    position: relative;
    width: 100%;
    @descendent delete {
        position: absolute;
        right: .5rem;
        top: .5rem;
        width: 12px;
        height: 12px;
        background: url(/assets/images/interface/delete-image.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            opacity: .8;
        }
    }
    @descendent descr {
        background: rgba(51, 51, 51, 0.83);
        position: absolute;
        width: 100%;
        padding: .5rem;
        color: #fff;
        font-size: .7rem;
        line-height: 1.1rem;
        font-weight: 200;
        letter-spacing: .02rem;
        bottom: 0px;
        min-height: 40%;
        overflow: hidden;
    }
    @descendent add {
        height: 100%;
        width: 100%;
        a {
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(51, 51, 51, 0.83);
            text-align: center;
            color: $white_color;
            font-size: 1.2rem;
            padding: 33% 1rem;
            .fa-plus {
                font-size: 2.5rem;
                display: block;
            }
        }
    }
}

.btn {
    &.add-photo {
        width: auto;
        margin-bottom: 1rem;
        .fa-plus {
            margin-right: .5rem;
        }
    }
}
