// Responsive Mobile Sections
@media screen and (max-width: 991px) {
    @component top-infographic {
        br {
            display: none;
        }
        @descendent credo {
            p {
                text-align: center;
            }
        }
        @descendent image {
            width: 540px;
            margin: 1rem auto 0;
        }
    }
    @component i-am-customer {
        .container {
            background-image: none;
        }
        @descendent search {
            width: 400px;
            margin: 0 auto;
        }
        @descendent hint {
            width: 400px;
            margin: 3rem auto 0;
            padding: 1rem 2rem 2rem;
            background: $white_color;
            box-shadow: $gray_box_shadow;
            .link-more {
                margin-bottom: 0;
            }
        }
    }
    @component i-am-implementer {
        .container {
            background-image: none;
        }
        @descendent search {
            width: 400px;
            margin: 0 auto;
        }
        @descendent hint {
            width: 400px;
            margin: 3rem auto 0;
            padding: 1rem 2rem 2rem;
            background: $white_color;
            box-shadow: $gray_box_shadow;
            .link-more {
                margin-bottom: 0;
            }
        }
    }
    @component advantages {
        .container {
            .dotted-line {
                display: none;
            }
        }
        @descendent third {
            margin: 3rem auto 0;
            width: 40%;
        }
    }
    @component articles {
        .news-block {
            width: 540px;
            margin: 0 auto;
        }
        .articles-block {
            width: 540px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 767px) {
    @component top-infographic {
        display: none;
        @descendent image {
            width: 100%;
            margin: 1rem auto 0;
        }
    }
    @component banner-carousel {
        display: none;
    }
    @component articles {
        .news-block {
            width: 100%;
        }
        .articles-block {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    @component i-am-customer {
        padding: 1rem 0 3rem;
        @descendent search {
            width: 100%;
        }
        @descendent hint {
            width: 100%;
        }
    }
    @component i-am-implementer {
        padding: 1rem 0 3rem;
        @descendent search {
            width: 100%;
        }
        @descendent hint {
            width: 100%;
        }
    }
    @component advantages {
        .h2 {
            font-size: 1.6rem;
        }
        @descendent third {
            width: 80%;
        }
    }
}