// Breadcrumb
@component breadcrumb {
    background: transparent;
    margin-top: 1rem;
    padding: 0;
    li {
        a {
            color: $deep_blue;
        }
        &.active {
        	color: $text_gray;
        }
    }
}
