<template>
  <div id="app">
    <ul>
      <li>
        <router-link class="router-link" to="/" exact>Home</router-link>
      </li>
      <li>
        <router-link class="router-link" to="/make-order">MakeOrder</router-link>
      </li>
    </ul>
    <router-view class="view"></router-view>
  </div>
</template>

<style>
  .router-link {
    margin-left: 300px;
  }
  .router-link-active {
    color: red;
  }
  .page-detectin-hint {
    background: red;
    position: fixed;
    left: 0;
    top: 0;
  }
</style>
