// Forms
@component form {
    padding: 2rem 0;
    .text-error {
        display: none;
        color: $deep_red;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1.2rem;
        text-align: center;
        a {
            color: $deep_blue;
            border-bottom: 2px dotted $deep_blue;
            &:hover {
                color: $hover_blue;
                border-bottom: 2px dotted $hover_blue;
            }
        }
    }
    .text-notify {
        text-align: center;
        a {
            color: $deep_green;
            border-bottom: 2px dotted $deep_green;
            &:hover {
                color: $hover_green;
                border-bottom: 2px dotted $hover_green;
            }
        }
    }
    fieldset {
        padding: 0;
        margin: 0;
        border: none;
        position: relative;
        i {
            &.fa-check {
                display: none;
                position: absolute;
                right: -2rem;
                top: 1rem;
            }
            &.fa-exclamation {
                display: none;
                position: absolute;
                right: -2rem;
                top: 1rem;
            }
        }
        .hint {
            margin-top: .5rem;
            font-size: 1rem;
            color: $deep_blue;
        }
    }
    button {
        &.btn-blue {
            &:hover {
                background: $deep_blue;
                cursor: default;
            }
        }
        &.btn-green {
            &:hover {
                background: $deep_green;
                cursor: default;
            }
        }
    }
    @descendent control {
        height: 3.5rem;
        border: none;
        font-size: 1.2rem;
        font-weight: 200;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .forget-password {
        margin-bottom: 1rem;
        a {
            color: $deep_red;
            border-bottom: 2px dotted $deep_red;
            font-size: 1rem;
            &:hover {
                color: $hover_red;
                border-bottom: 2px dotted $hover_red;
            }
        }
    }
    .ask-verificate-code {
        text-align: center;
        margin-top: 1rem;
        a {
            color: $deep_green;
            border-bottom: 2px dotted $deep_green;
            font-size: 1rem;
            &:hover {
                color: $hover_green;
                border-bottom: 2px dotted $hover_green;
            }
        }
    }
    &.form-search {
        button {
            opacity: 1;
        }
    }
}

@component blue-section {
    .form {
        input {
            &::-webkit-input-placeholder {
                color: $soft_blue;
            }
            &::-moz-placeholder {
                color: $soft_blue;
            }
            &:-moz-placeholder {
                color: $soft_blue;
            }
            &:-ms-input-placeholder {
                color: $soft_blue;
            }
        }
    }
}

@component success-section {
    fieldset {
        &.success {
            i.fa-check {
                display: block;
                color: $deep_green;
            }
        }
    }
    button {
        opacity: 1;
        &.btn-blue {
            &:hover {
                background: $hover_blue;
                cursor: pointer;
            }
        }
        &.btn-green {
            &:hover {
                background: $hover_green;
                cursor: pointer;
            }
        }
    }
}

@component error-section {
    .form {
        .text-error {
            display: block;
        }
        fieldset {
            &.error {
                i.fa-exclamation {
                    display: block;
                }
            }
        }
        input {
            &::-webkit-input-placeholder {
                color: $deep_red;
            }
            &::-moz-placeholder {
                color: $deep_red;
            }
            &:-moz-placeholder {
                color: $deep_red;
            }
            &:-ms-input-placeholder {
                color: $deep_red;
            }
        }
    }
}