// Buttons
@component btn {
    outline: none!important;
    @descendent large {
        padding: .9rem;
        font-size: 1.4rem;
    }
    @descendent small {
        padding: .2rem 2rem;
        font-size: 1rem;
    }
    @descendent round {
        border-radius: 50rem;
    }
    @descendent green {
        background: $deep_green;
        border-color: $deep_green;
        color: $white_color;
        font-weight: 500;
        &:hover {
            color: $white_color;
            background: $hover_green;
            border-color: $hover_green;
        }
        &:focus {
            color: $white_color;
        }
        &.disabled {
            &:hover {
                background: $deep_green;
            }
        }
    }
    @descendent blue {
        background: $deep_blue;
        border-color: $deep_blue;
        color: $white_color;
        font-weight: 500;
        &:hover {
            color: $white_color;
            background: $hover_blue;
            border-color: $hover_blue;
        }
        &:focus {
            color: $white_color;
        }
        &.disabled {
            &:hover {
                background: $deep_blue;
            }
        }
    }
    &.disabled {
        opacity: .5;
        &:hover {
            cursor:default;
        }
    }
}